/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #777;
  background-color: black;
  font-size: 16px;
  line-height: 1.7;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

header, section {
    width: 1400px;
    margin: 0 auto;
}

section {
    padding: 100px 0 120px 0;
}

section h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    padding: 0;
    margin: 0;
}

section h3 {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    padding: -30px 0 0 0;
    margin: 0 0 60px 0;
}

section h4 {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    padding: 0;
    margin: 0;
}

section h5 {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    padding: 0;
    margin: 0;
}

/* Home */

.home {
    height: 700px;
    position: relative;
    background-image: url('../images/home-golden.jpg');
    background-position: center center;
    background-size: cover;
}

.home-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.page-title, .page-subtitle {
    color: #fff;
    margin: 38px 0 0 0;
    padding: 0;
}

.page-title {  
    font-size: 70px;
    position: relative;
}

.page-subtitle {
    font-family: "PT Serif", serif;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 40px;
}

.button {
    margin: 50px 0 0 0;
    padding: 15px 40px;
    color: #fff;
    background-color: #fdd135;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* Navigation */

.navigation {
    background: none; 
    padding: 50px 0 0 0;
}

.logo {
    float:left;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}

.navigation ul li {
    display: inline-block; 
    margin-right: 20px;
}

.navigation ul li:last-of-type {
    margin-right: 0;
}

.navigation ul li a {
    text-decoration: none; 
    color: #fff;
}

.navigation ul li a:hover {
    color: #fdd135;
}

/* Services */

.services {
    background-color: white;
    text-align: center;
}

.services i {
    color: #fdd135;
    font-size: 40px;
    border-radius: 50%;
    border: 4px solid #fdd135;
    padding: 15px;
    margin: 15px;
}

/* Our Portfolio */

.portfolio {
    background-color: #f7f7f7;
    text-align: center;
}

.card-image {
    margin: 0;
    padding: 0;
}

.card-image img {
    width: 290px;
    height: 300px;
}

.card-description {
    background-color: #fff;
    padding: 10px;
    margin: -8px 0 0 0;
}